<div class="navbar bg-light">
  <div class="navbar-brand mx-3"><%= link_to "ðŸ¿", lists_path %></div>
  <div class="d-flex align-items-center">
    <div class="nav-item"><%= link_to "My lists", lists_path %></div>
    <div class="nav-item mx-3"><%= link_to "New list", new_list_path %></div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://variety.com/wp-content/uploads/2020/04/production-placeholder2.jpg);">
  <div class="container">
    <h1>Create a new bookmark</h1>
  </div>
</div>

<div class="container my-4">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
